[package]
name = 'openid'
version = '0.8.0'
authors = ['Alexander Korolev <kilork@yandex.ru>']
edition = '2018'
categories = []
description = '''
OpenID Connect & Discovery client library using async / await.
'''
homepage = 'https://github.com/kilork/openid'
keywords = [
    'authentication',
    'authorization',
    'oauth',
    'openid',
    'uma2'
]
license = 'Unlicense OR MIT'
readme = 'README.md'
repository = 'https://github.com/kilork/openid'

[features]
default = []
microsoft = []
uma2 = []

[dependencies]
lazy_static = '1.4'
serde_json = { version = '1', default-features = false }
base64 = '0.13'
biscuit = '0.5'
failure = '0.1'
validator = { version = '0.12', features = ["derive"] }

[dependencies.url]
version = '2'
default-features = false
features = ['serde']

[dependencies.chrono]
version = '0.4'
default-features = false
features = ['serde']

[dependencies.serde]
version = '1'
default-features = false
features = ['derive']

[dependencies.reqwest]
version = '0.11'
default-features = false
features = ['json']
