[package]
name = 'openid'
version = '0.4.0'
authors = ['Alexander Korolev <kilork@yandex.ru>']
edition = '2018'
categories = []
description = '''
OpenID Connect & Discovery client library using async / await.
'''
homepage = 'https://github.com/kilork/openid'
keywords = [
    'authentication',
    'authorization',
    'oauth',
    'openid',
    'async',
    'uma2'
]
license = 'Unlicense OR MIT'
readme = 'README.md'
repository = 'https://github.com/kilork/openid'

[features]
uma2 = []
default = []

[dependencies]
lazy_static = '1.4'
serde_json = '1'
base64 = '0.12'
biscuit = '0.4'
failure = '0.1'
validator = '0.10'
validator_derive = '0.10'

[dependencies.url]
version = '2'
features = ['serde']

[dependencies.chrono]
version = '0.4'
features = ['serde']

[dependencies.serde]
version = '1'
features = ['derive']

[dependencies.reqwest]
version = '0.10'
features = ['json']
